Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
RewriteBase /susret

# if a directory or a file exists, use it directl
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php